body {
    font-family: 'Roboto', sans-serif;
}

.title, .subtitle { 
    font-family: 'Roboto Slab', sans-serif;
    font-weight: normal;
}

dl.info dt { float: left; padding-right: 0.5em; font-weight: bold; }
dl.info dd { margin: 0; }

code {
    color: #000;
}
